.App {
  text-align: center;
}

.main-bg {
  height: 400px;
  /* background-image: url("./img/main_bg.avif"); */

  /* bublic/img에 이미지를 넣었을 때 */
  background-image: url("../public/img/main_bg.avif"); 
  
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}