/* 다운로드하여 public에 넣었을 때
@font-face {
  font-family: 글꼴명;
  src: url('/public/글꼴명.ttf');
}
*/
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

h3 {
  font-size: 32px;
  color:teal;
}

html, body {
  margin: 0;
  width: 100%;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0 20px;
  box-shadow: lightgray 0px 0px 30px 0px;
}
